
__pycache__/
*.py[cod]
*$py.class

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

.vscode/
.idea/

.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

.tox/
.nox/

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

**/logs/
*.log
*.pid
*.sock

.dockerignore
docker-compose.override.yml
docker-compose*.bak.yml

*.sqlite3
*.db
dump/
*.bson
*.json

.env
.env.*

*.postman_collection.json

*.so

*.swp
*.swo
